name: terraform-release
on:
  workflow_call:
    inputs:
      command:
        required: true
        description: 'Command for please-release'
        default: manifest
        type: string
      release-type:
        required: true
        description: 'please-release release type'
        default: simple
        type: string

permissions:
  contents: write
  pull-requests: write

run-name: ${{ github.actor }} is releasing Terraform from ${{ github.repository }}
jobs:
  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release-flag.outputs.release_created }}
    steps:
      - name: Create Release Tag
        id: tag
        uses: google-github-actions/release-please-action@v3
        with:
          command: ${{ inputs.command }}
          release-type: ${{ inputs.release-type }} 
      - id: release-flag
        run: echo "release_created=${{ steps.tag.outputs.release_created || false }}" >> $GITHUB_OUTPUT
